<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD40bK_NXsG49mdnAEe9PKzjRaCrHsG3QU</string>
	<key>GCM_SENDER_ID</key>
	<string>1026417864368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Pinterest</string>
	<key>PROJECT_ID</key>
	<string>pinterest-460ed</string>
	<key>STORAGE_BUCKET</key>
	<string>pinterest-460ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026417864368:ios:2c73b34b916ae4d5319575</string>
</dict>
</plist>